@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
body {
  margin: 0;
  background-color: #000;
  font-family: 'Poiret One', sans;
}

#main {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
  background: -webkit-linear-gradient(rgba(18, 57, 75, 0.86) 0%, rgba(63, 46, 104, 0.8) 78%), url(http://www.davepagurek.com/content/images/2015/3/IMG_20150321_140343.jpg);
  background: linear-gradient(rgba(18, 57, 75, 0.86) 0%, rgba(63, 46, 104, 0.8) 78%), url(http://www.davepagurek.com/content/images/2015/3/IMG_20150321_140343.jpg);
  background-position: center;
  background-size: cover;
  color: #FFF;
}

.floater{
  background-image: url(../img/sponsors/troll_face.png);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  position: relative;
  z-index: 3;
}

.spacer {
  display: inline-block;
  width:0;
  height:0;
  margin-bottom:150px;
}
.spacer h1 {
  position:absolute;
  top:100px;
  margin-top:0;
  margin-bottom:0;
  left:50%;
  margin-left:-150px;
  width:300px;
  text-align:center;
  transition: all ease 0.4s;
}
.spacer h1:hover {
  -webkit-transform: scale(5, 2) rotate(600deg);
  -ms-transform: scale(5, 2) rotate(600deg);
  transform: scale(5, 2) rotate(600deg);
}

a.button {
  background-color: #FFF;
  width: 100px;
  padding: 20px;
  border-radius: 10px;
  color: #708;
  display:inline-block;
  margin:20px 0;
  width: 200px;
  text-decoration:none;
}

p {
  max-width: 500px;
  margin: 20px auto;
  font-size:18px;
}

.content {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 50px;
}
/*.content:hover {*/
/*font-family: 'Henny Penny', cursive;*/
/*-webkit-animation-name: jello;*/
/*animation-name: jello;*/
/*-webkit-animation-iteration-count: infinite;*/
/*animation-iteration-count: infinite;*/
/*-webkit-animation-duration: 2s;*/
/*animation-duration: 2s;*/
/*-webkit-animation-fill-mode: both;*/
/*animation-fill-mode: both;*/
/*color: cyan;*/
/*}*/

h1 {
  font-size: 50px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

a {
  color: #0F0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
a:hover {
  color: #F00;
  -webkit-transform: scale(5, 2) rotate(600deg);
  -ms-transform: scale(5, 2) rotate(600deg);
  transform: scale(5, 2) rotate(600deg);
}

@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.39063deg) skewY(0.39063deg);
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.19531deg) skewY(-0.19531deg);
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.partner-title{
  font-size: 1.75em;
  color: #000;
  padding:20px;
}

.partners {
  line-height: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.74);
}

.inline-img {
  display: inline-block;
  max-height: 75px;
  width: auto;
  margin: 50px;
}

.tilt{
  display: inline-block;
  max-height: 75px;
  width: auto;
}
.heroes{
  padding-bottom: 60px;
}
