body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

section#header {
    background-color:#3F51B5;
    box-style: border-box;
    height:100vh;
    position:relative;
}

section#header h1 {
    color:#FFF;
    text-align:center;
    font-weight:lighter;
    font-size:8em;
    line-height:100vh;
    margin:0;
    padding:0;
}

section {
    padding:20px;
    overflow-x:hidden;
}

.terrible {
    transition: all 0.5s ease;}

.terrible-on {
    /*background-color:#AaA;*/
    font-family: "Comic Sans MS";
    color: #F00;
}

.terrible-on h1 {
    -webkit-animation: marquee 5s linear infinite;
    animation: marquee 5s linear infinite;
    color:#FFF;
}

section#header.terrible-on {
    -webkit-animation: colorwheel 5s linear infinite;
    animation: colorwheel 5s linear infinite;
}

h2 {
    font-size: 50px;
    text-align:center;
}

h2.secondary {
    font-size:45px;
    font-style: italic;
}

h3 {
    font-size:40px;
    text-align:center;
}

.half {
    display:inline-block;
    width:49%;
    vertical-align:top;
}

a.button {
    display:block;
    width:200px;
    margin:20px auto;
    color:#FFF;
    background-color:firebrick;
    padding:20px;
    text-align:center;
    text-decoration:none;
}
a.button:hover {
    background-color:blueviolet;
}

#main {
    background-image:url("../img/dc1351.jpg");
    background-position:center;
    background-size:cover;
    color:#FFF;
}

#footer {
    background-color:#3F51B5;
}

#footer img {
    border-radius: 50%;
}

/* Animations */
@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.001% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.001% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


@-webkit-keyframes colorwheel {
    0% {
        background-color:#F00;
    }
    25% {
        background-color:#00F;
    }
    50% {
        background-color:#0F0;
    }
    75% {
        background-color:#FF0;
    }
    100% {
        background-color: #F00;
    }
}

@keyframes colorwheel {
    0% {
        background-color:#F00;
    }
    25% {
        background-color:#00F;
    }
    50% {
        background-color:#0F0;
    }
    75% {
        background-color:#FF0;
    }
    100% {
        background-color: #F00;
    }
}
