@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #EEE;
  color: #222;
  font-family: 'EB Garamond', serif;
}

#content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-top:100px;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 15px;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.row > *:first-child, .row > .column *:first-child {
  margin-top: 0;
}

.row {
  margin-top: 40px;
}

canvas {
  margin-top: 40px;
  display: block;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row > * {
  margin-right: 20px;
}

.row > *:last-child {
  margin-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expand {
  flex: 1;
}

.column h2, .column h3, .column h4, .column h5, .column p {
  width: 100%;
}

.full {
  width: 100%;
  height: auto;
}

iframe.full {
  height: 300px;
}

hr {
  background: none;
  border: 0;
}
hr::after {
  content: '\2042';
  display: block;
  opacity: 0.8;
  line-height: 2.5em;
  font-size: 1.2em;
  text-align: center;
}

a {
  color: #F33;
}

a.button {
  color: #FFF;
  background-color: #F33;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 20px;
}
a.button:hover {
  background-color: #33F;
}
