@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #EEE;
  color: #222;
  font-family: 'EB Garamond', serif;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #555;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

#hero h3 {
  color: #EEE;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-top:100px;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 15px;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.row > *:first-child, .row > .column *:first-child {
  margin-top: 0;
}

.row {
  margin-top: 40px;
}

canvas {
  margin-top: 40px;
  display: block;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
  touch-action: none; /* prevent scrolling to allow joystick behaviour */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row > * {
  margin-right: 20px;
}

.row > *:last-child {
  margin-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expand {
  flex: 1;
}

.column h2, .column h3, .column h4, .column h5, .column p {
  width: 100%;
}

.full {
  width: 100%;
  height: auto;
}

.logo {
  width: 100%;
}

iframe.full {
  height: 300px;
}

hr {
  background: none;
  border: 0;
}
hr::after {
  content: '\2042';
  display: block;
  opacity: 0.8;
  line-height: 2.5em;
  font-size: 1.2em;
  text-align: center;
}

a {
  color: #F33;
}

a.button {
  color: #FFF;
  background-color: #F33;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 20px;
}
a.button:hover {
  background-color: #33F;
}

.item {
  padding: 1em;
}

#people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.person {
  flex: 0 0;
  margin: 20px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 4px;
}

.person img {
  width: 200px;
  height: auto;
}

.person h3 {
  font-size: 24px;
  font-style: normal;
  margin: 10px 0 20px 0;
}

.person h4 {
  font-size: 16px;
  font-style: italic;
  margin: 0 0 10px 0;
}

.person p {
  font-size: 18px;
  margin: 0 0 10px 0;
}

/* From https://codepen.io/atunnecliffe/pen/gpKzQw */

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 24px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 24px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 32px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
