@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  overflow: hidden;
  color: #EEE;
  font-family: 'EB Garamond', serif;
}

#content {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-weight: normal;
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
  margin: 20px auto;
}
