body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.8em;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-size: 50px;
  font-weight: lighter;
  padding-bottom: 20px;
}

h3 {
  font-size: 35px;
  font-weight: lighter;
  padding-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav h1 {
  flex: 1;
}

nav span {
  font-weight: 14px;
  margin-left: 20px;
}

section {
  padding: 20px;
  display: flex;
  align-content: top;
  justify-content: center;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section div {
  z-index: 2;
}

#title {
  background-color: #222;
  color: #FFF;
}

#hero {
  background-color: #55A;
  color: #FFF;
}

.blockchain {
  background-color: #EEE;
}

.container {
  max-width: 900px;
  width: 100%;
}

.row {
  display: flex;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

.center-button {
  text-align: center;
}

.graph {
  max-width: 55%;
  height: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
}

a.button {
  display: inline-block;
  padding: 10px;
  background-color: #EA7;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
  transition: all ease 0.2s;
}

a.button:hover {
  background-color: #FB7;
}

a.button.large {
  font-size: 1.3em;
  padding: 1em;
  margin: 1em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('logo.jpg');
  background-size: cover;
  background-position: center;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

a#ledger {
  position: relative;
}
a#ledger .warning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: -100px;
  left: 50%;
  width: 200px;
  height: 80px;
  margin-left: -100px;
  color: #F00;
  font-size: 20px;
  opacity: 0;
  transition: all ease 0.2s;
  background-color: #FFF;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.warning {
  pointer-events: none;
}
a#ledger:hover .warning {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: scale(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  51% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  51% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
